input[type=submit]{
    background-color: rgb(88, 84, 84);
    outline-color: none;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;    
}

input[type=submit]:focus{
    outline: none;
    background-color: rgb(129, 206, 206);
    color: black;
}

.buttonSpace{
    display: flex;
    /* border: 1px dotted darkslategrey; */
}

.singleButton{
    display: inherit;
    min-width: 40%;
    max-width: 60%;
}

.wholeFormValidationStatus{
    display: inherit;
    min-width: 60%;
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    padding: 15px 15px;
    /* border: 1px dotted green; */
}