.inputForm{
    display: flex;
    width: 300px;
    border: 1px dashed black;
    margin: 2px;
    padding: 3px;
}

.formTitle{
    width: 150px;
}

.validationError{
    /* display: flex; */
    text-align: center;

    min-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 13);
    font-style: italic;
    font-size: 14px;
    line-height: 150%;
 
}

input[type="text"]{
    outline-color: black;
    background: bisque;
    border-width: 1px;
    border-color: black;
    padding-left: 14px;
    padding-right: 14px;
}